<% @pics.each do |pic| %>
	<div class="span3 text-center steamy-hottub">
		<h1 class="Simplon">
			Hour: <%= pic.hour %>
		</h1>
		<h2>
			<br />
			Emotion: <%= pic.emotion %>
			<br />
			What I Learned: <%= pic.learned %>
			<br />
		</h2>

	</div>

<% end %>


